.block {
  display: flex;
  flex-direction: column;
  background-color: #070939;
}

.block.layout {
  position: relative;
  overflow: hidden;
  min-height: 812px;
}

.box {
  background-color: white;
}

.box.layout {
  position: absolute;
  top: 66px;
  height: 585px;
  left: 484px;
  width: 486px;
  min-width: 486px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex.layout5 {
  position: absolute;
  top: 259px;
  height: 357px;
  left: 533px;
  width: 386px;
  min-width: 386px;
}

.flex.layout {
  position: relative;
  margin: 0px 3px 0px 0px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cover-block1 {
  display: flex;
  flex-direction: column;
}

.cover-block1.layout {
  position: relative;
  height: 55px;
}

.box2 {
  box-shadow: 0px 1.7077620029px 1.7077620029px 0px rgba(0, 0, 0, 0.1176470588);
  border: 2.5616428852px solid #818181;
  border-radius: 5.9771666527px 5.9771666527px 5.9771666527px 5.9771666527px;
}

.box2.layout {
  position: absolute;
  top: 0px;
  height: 55px;
  left: 0px;
  width: 383px;
  min-width: 383px;
}

.text-body {
  font: 400 13.6620960236px/1.2 "Outfit", Helvetica, Arial, serif;
  color: #6e6e6e;
  letter-spacing: 0px;
}

.text-body.layout {
  position: absolute;
  top: 19px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 20px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cover-block1.layout1 {
  position: relative;
  height: 55px;
  margin: 27px 0px 0px;
}

.flex.layout4 {
  position: relative;
  margin: 9px 0px 0px;
}

.small-text-body3 {
  display: flex;
  justify-content: flex-end;
  font: 400 11.9543333054px/1.2 "Outfit", Helvetica, Arial, serif;
  color: #4285f4;
  text-align: right;
  letter-spacing: 0px;
}

.small-text-body3.layout {
  position: relative;
}

.flex.layout3 {
  position: relative;
  margin: 25px 3px 0px 0px;
}

.cover-block {
  display: flex;
  flex-direction: column;
  background-color: #190152;
  border-radius: 10.2465715408px 10.2465715408px 10.2465715408px 10.2465715408px;
}

.cover-block.layout {
  position: relative;
}

.highlights {
  font: 600 17.0776195526px/1.2 "Outfit", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}

.highlights.layout {
  position: relative;
  flex-grow: 1;
  width: 13.32%;
  margin: 16px auto 18px;
}

.flex.layout2 {
  position: relative;
  width: 78.33%;
  margin: 37px auto 0px;
}

.flex1 {
  display: flex;
}

.flex1.layout {
  position: relative;
}

.flex-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 108px;
}

.box1 {
  background-color: #a39797;
}

.box1.layout {
  position: relative;
  height: 3px;
  margin: 5px 0px;
}

.flex-spacer {
  flex: 0 1 9px;
}

.small-text-body {
  font: 400 10.2465715408px/1.2 "Outfit", Helvetica, Arial, serif;
  color: #747070;
  letter-spacing: 0px;
}

.small-text-body.layout {
  position: relative;
  flex: 0 0 auto;
}

.flex-spacer1 {
  flex: 0 1 4px;
}

.flex.layout1 {
  position: relative;
  width: 53.67%;
  margin: 21px auto 0px;
}

.small-text-body1 {
  display: flex;
  justify-content: flex-end;
  font: 500 11.9543333054px/1.2 "Poppins", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0px;
}

.small-text-body1.layout {
  position: relative;
  margin: 0px 40px;
}

.small-text-body2-box.layout {
  position: relative;
  margin: 17px 0px 0px;
}

.small-text-body2 {
  font: 400 10.2465715408px/1.2 "Outfit", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}

.undefined-span0 {
  font: 1em/1.2 "Outfit", Helvetica, Arial, serif;
  color: #626262ff;
  letter-spacing: 0px;
}

.undefined-span1 {
  font: 600 1em/1.2 "Outfit", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}

.icon {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.icon.layout {
  position: absolute;
  top: 578px;
  height: 10px;
  left: 694px;
  width: 10px;
  min-width: 10px;
}

.image {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image.layout {
  position: absolute;
  top: 582px;
  height: 9px;
  left: 684px;
  width: 17px;
  min-width: 17px;
}

.image1 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image1.layout {
  position: absolute;
  top: 576px;
  height: 9px;
  left: 683px;
  width: 5px;
  min-width: 5px;
}

.image2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image2.layout {
  position: absolute;
  top: 570px;
  height: 8px;
  left: 684px;
  width: 17px;
  min-width: 17px;
}

.flex.layout6 {
  position: absolute;
  top: 96px;
  height: 132px;
  left: 567px;
  width: 322px;
  min-width: 322px;
}

.image3 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image3.layout {
  position: relative;
  width: 63.35%;
  margin: 0px auto;
}

.flex-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.block1 {
  display: flex;
  flex-direction: column;
}

.block1.layout {
  position: relative;
  height: 41px;
  margin: 10px 0px 0px;
}

.box4 {
  box-shadow: 0px 6.8310480118px 17.0776195526px 0px rgba(0, 0, 0, 0.0784313725);
  border: 0.8538810015px solid black;
  border-radius: 6.8310480118px 6.8310480118px 6.8310480118px 6.8310480118px;
}

.box4.layout {
  position: absolute;
  top: 0px;
  height: 41px;
  left: 0px;
  width: 322px;
  min-width: 322px;
}

.box5 {
  background-color: #0d0e4a;
  box-shadow: 0px 1.7077620029px 1.7077620029px 0px rgba(0, 0, 0, 0.2470588235);
  border-radius: 6.8310480118px 0px 0px 6.8310480118px;
}

.box5.layout {
  position: absolute;
  top: 0px;
  height: 41px;
  left: 0px;
  width: 160px;
  min-width: 160px;
}

.highlights1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 15.3698577881px/1.2 "Outfit", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}

.highlights2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 15.3698577881px/1.2 "Outfit", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}