<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Found</title>
</head>
<body>
    {{> navbar}}<br><br><br>
    <br><h1>Found 3 Doctors for you</h1><br>

<div class="flex-container">

    <div class="profile-card">
    <header>
        <a href="">
            <img src="/static/images/doctor.jpeg">
        </a>
        <h1>Dr. Kohli</h1>
        <h2>4.9 ⭐️</h2>
        <link rel="stylesheet" href="/static/images/card.css">
    </header>
    <div class="profile-bio">
        9 Years of Experience<br>Punjab, India<br>Specialized in PTSD<br><br>
    </div>
    <p>
        <a href="/survey1"><input type="submit" value="BOOK"></a>   
    </p>
    </div>

    <div class="profile-card">
        <header>
            <a href="">
                <img src="/static/images/doctor.jpeg">
            </a>
            <h1>Dr. Kohli</h1>
            <h2>4.9 ⭐️</h2>
            <link rel="stylesheet" href="/static/css/card.css">
        </header>
        <div class="profile-bio">
            9 Years of Experience<br>Punjab, India<br>Specialized in PTSD<br><br>
        </div>
        <p>
            <a href="/survey1"><input type="submit" value="BOOK"></a>
        </p>
    </div>

    <div class="profile-card">
            <header>
                <a href="">
                    <img src="/static/images/doctor.jpeg">
                </a>
                <h1>Dr. Kohli</h1>
                <h2>4.9 ⭐️</h2>
                <link rel="stylesheet" href="/static/css/card.css">
            </header>
            <div class="profile-bio">
                9 Years of Experience<br>Punjab, India<br>Specialized in PTSD<br><br>
            </div>
            <p>
                <a href="/survey1"><input type="submit" value="BOOK"></a>
            </p>
    </div>

</div>

<br><br><br><br>



</body>
</html>