<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Homepage.css" />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>

    <title>Home</title>
</head>

<body style="display: flex; flex-direction: column">
    <div class="homepage block layout">
        <img src="/static/images/188bfa2e083706e4660f5c8d150a8a88.png" alt="" class="decorator2 layout" />
        <div class="box12 layout"></div>
        <a href="/Homepage"><img src="/static/images/ce2c3fc9a73280c12443633c62a462aa.png" alt="" class="decorator1 layout" /></a>
        <div class="box layout"></div>
        <div class="flex layout1">
            <img src="/static/images/c5ec5768df12a2aacc53846bade9afd3.png" alt="" class="image layout" />
            <div class="flex layout">
                <div class="flex-item">
                    <h3 class="subtitle1 layout">Mary Jane</h3>
                </div>
                <h3 class="subtitle layout">
                    My favourite part of my day is when I receive a notification from HappyGo informing me that I have received
                    a message from my therapist.
                </h3>
            </div>
        </div>
        <div class="box layout1"></div>
        <div class="flex layout2">
            <div class="flex-item1">
                <h3 class="subtitle1 layout1">Peter Parker</h3>
            </div>
            <h3 class="subtitle layout">
                Getting an anxiety attack and a panic attack at the same time truly sucks. But I am grateful for having
                HappyGo 24/7.
            </h3>
        </div>
        <div class="box layout2"></div>
        <div class="flex layout3">
            <div class="flex-item2">
                <h3 class="subtitle1 layout2">Gwen Stacy</h3>
            </div>
            <h3 class="subtitle layout">
                I absolutely love @HappyGo, being able to talk to your therapist at a moments notice is truly wonderful.
            </h3>
        </div>
        <div class="flex layout17">
            <div class="flex layout7">
                <div class="flex layout13">
                    <div class="flex layout7">
                        <div class="flex layout5">
                            <h1 class="hero-title1 layout">“You don't have to suffer in silence”</h1>
                            <div class="flex layout4">
                                <h2 class="medium-title layout">What type of support are you looking for?</h2>
                                <div class="cover-block layout">
                                    <h1 class="big-title3-box layout">
                                        <div class="big-title3">
                                            <a href="/card" style="text-decoration:none;"><span class="undefined-span0" >Individual<br /></span></a>
                                        </div>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="flex layout6">
                            <h3 class="subtitle1 layout3">IN PARTNERSHIP WITH</h3>
                            <div class="cover-block6 layout">
                                <div class="flex1 layout">
                                    <div class="flex-item3">
                                        <img src="/static/images/71bbb6be5c9de015159e4f661cc2ad14.png" alt="" class="image10 layout" />
                                    </div>
                                    <div class="spacer flex-spacer"></div>
                                    <div class="flex-item4">
                                        <img src="/static/images/8b5dfce9ea36cac58f76e6c171afc16f.png" alt="" class="image12 layout" />
                                    </div>
                                    <div class="spacer flex-spacer1"></div>
                                    <div class="flex-item5">
                                        <img src="/static/images/3dd202936cac126b232fa2ab97bacf5b.png" alt="" class="image11 layout" />
                                    </div>
                                    <div class="spacer flex-spacer2"></div>
                                    <div class="flex-item6">
                                        <img src="/static/images/4cfe38b2644f37dd5f24defa92de24bc.png" alt="" class="icon layout" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex layout12">
                        <h1 class="hero-title layout">How HappyGo Works</h1>
                        <div class="flex layout11">
                            <div class="flex1 layout1">
                                <div class="flex-item7">
                                    <div class="flex layout9">
                                        <img src="/static/images/693fe1b5c9acdeb939e64b9ac1998114.png" alt="" class="image8 layout" />
                                        <div class="flex layout8">
                                            <h1 class="big-title2 layout">Brief Assessment</h1>
                                            <h3 class="subtitle2 layout">Answer a few questions about your preferences.</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="spacer flex-spacer3"></div>
                                <div class="flex-item8">
                                    <img src="/static/images/fe1a48ff8c13b8be7a3d8040f398db08.png" alt="" class="image9 layout" />
                                </div>
                                <div class="spacer flex-spacer4"></div>
                                <div class="flex-item9">
                                    <div class="flex layout10">
                                        <img src="/static/images/42d3ba371b118829338a9c4c11a4b8bc.png" alt="" class="image8 layout1" />
                                        <div class="flex layout8">
                                            <h1 class="big-title2 layout">Personalized Match</h1>
                                            <h3 class="subtitle2 layout1">
                                                We'll match you with a provider (typically within 48 hours).
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-item8">
                                    <img src="/static/images/fe1a48ff8c13b8be7a3d8040f398db08.png" alt="" class="image9 layout" />
                                </div>
                                <div class="spacer flex-spacer5"></div>
                                <div class="flex-item10">
                                    <div class="flex layout9">
                                        <img src="/static/images/5cb6e55532a8e883bed696cbd4d5df55.png" alt="" class="image8 layout2" />
                                        <div class="flex layout8">
                                            <h1 class="big-title2 layout1">Start Therapy</h1>
                                            <h3 class="subtitle2 layout2">Begin the journey towards a happier you.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/card" style="text-decoration: none;"><div class="cover-block5 layout">
                                <h1 class="big-title1 layout">Get Started</h1>
                            </div></a>
                        </div>
                    </div>
                </div>
                <div class="flex1 layout6">
                    <div class="flex-item11">
                        <div class="block1 layout">
                            <img src="/static/images/4e0cf46feb71287ee2f4d6da9392324f.png" alt="" class="decorator layout" />
                        </div>
                    </div>
                    <div class="spacer flex-spacer6"></div>
                    <div class="flex-item12">
                        <div class="flex layout15">
                            <div class="flex layout7">
                                <h1 class="hero-title11 layout">Benefits of HappyGo</h1>
                                <div class="flex layout14">
                                    <div class="flex1 layout2">
                                        <div class="flex-item13">
                                            <img src="/static/images/3bc49d7641caeb2a63e513193caa5a4b.png" alt="" class="image4 layout" />
                                        </div>
                                        <div class="spacer flex-spacer7"></div>
                                        <h1 class="big-title layout">Eliminate commute time and scheduling hassles <br /></h1>
                                    </div>
                                    <div class="flex1 layout3">
                                        <div class="flex-item14">
                                            <img src="/static/images/4a37f4302945c436395ee03f4584d999.png" alt="" class="image5 layout" />
                                        </div>
                                        <div class="spacer flex-spacer8"></div>
                                        <h1 class="big-title layout1">Flexible plans to meet your needs and lifestyle <br /></h1>
                                    </div>
                                    <div class="flex1 layout4">
                                        <div class="flex-item15">
                                            <img src="/static/images/e7007f2984a57b3a36eb0fa44126dcfe.png" alt="" class="image6 layout" />
                                        </div>
                                        <div class="spacer flex-spacer9"></div>
                                        <h1 class="big-title layout2">Seamlessly switch providers, at no extra cost <br /></h1>
                                    </div>
                                    <div class="flex1 layout5">
                                        <div class="flex-item16">
                                            <img src="/static/images/db170ec199b74aef9bcb88f1e9338897.png" alt="" class="image7 layout" />
                                        </div>
                                        <div class="spacer flex-spacer10"></div>
                                        <h1 class="big-title layout3">Save money while receiving high-quality care <br /></h1>
                                    </div>
                                </div>
                            </div>
                            <img src="/static/images/981432dd42c32039d6a90e04f93a7464.png" alt="" class="image2 layout" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex layout16">
                <h3 class="subtitle11 layout">TESTIMONIALS</h3>
                <h1 class="hero-title2 layout">Read what others have to say</h1>
            </div>
        </div>
        <img src="/static/images/794a77c3ae6e59b0cc1d391a1acabfb1.png" alt="" class="image1 layout" /><img src="/static/images/4a5ad013b969c11244d19610aa1af95e.png" alt="" class="image3 layout" />
        <div class="cover-block1 layout">
            <h1 class="big-title3-box layout">
                <div class="big-title3">
                    <a href="/card" style="text-decoration: none;"><span class="undefined-span0">Couples<br /></span></a>
                </div>
            </h1>
        </div>
        <div class="block2 layout">
            <div class="block3 layout">
                <div class="box5 layout"></div>
                <img src="/static/images/643094ff13b8ff6fa7d935bb755db4c7.png" alt="" class="image13 layout" /><img src="/static/images/3224a09fdde874eb7eda46c641f3ace3.png" alt="" class="cover layout" /><img src="/static/images/45081954f87fd5315cf7331624bde491.png" alt="" class="image14 layout" /><img src="/static/images/85743cee7ec9f5975ea5ec68cada524e.png" alt="" class="image15 layout" /><img src="/static/images/98a87be684c6d1481324bde581679cd9.png" alt="" class="image14 layout1" /><img src="/static/images/1c47e533fcfca152ffb5d53dbfd8b189.png" alt="" class="image15 layout1" /><img src="/static/images/9f871fee10b50cfb962e302567362d3a.png" alt="" class="image16 layout" /><img src="/static/images/968d41b795775d74cacd5e8ecb591687.png" alt="" class="image15 layout2" /><img src="/static/images/b8a330a0c75005582c8b2ab9c92c3bca.png" alt="" class="image14 layout2" /><img src="/static/images/9c1371f5cfb3006beac5bf42616214e3.png" alt="" class="image14 layout3" />
                <div class="box6 layout"></div>
                <img src="/static/images/e2fc3eb8715a18d6d8f656e02c0bca49.png" alt="" class="image17 layout" /><img src="/static/images/d1f6160efc4539f744f777ab69cf017b.png" alt="" class="cover1 layout" /><img src="/static/images/9bfaf53c9dc035c826c31397438f0ce9.png" alt="" class="image18 layout" /><img src="/static/images/b0ec90eeb4f3978957a1f02b9fb1b62e.png" alt="" class="image18 layout1" /><img src="/static/images/97221db1b2dc0f962d7c1089a9c86e38.png" alt="" class="image19 layout" /><img src="/static/images/04633c93e3331fa3cc8605b3ffa15622.png" alt="" class="cover2 layout" /><img src="/static/images/8e3a6f0a98451f38fe086d3267144bb9.png" alt="" class="cover2 layout" /><img src="/static/images/0dd0a3a0812d202d7810b2363e304ea9.png" alt="" class="cover2 layout1" /><img src="/static/images/42f9c5c646e19cc1752bdb46a6be9c99.png" alt="" class="cover2 layout1" /><img src="/static/images/53917409fbf2fb3dfe9e0d35517a9c70.png" alt="" class="image20 layout" />
            </div>
            <div class="block4 layout">
                <div class="box7 layout"></div>
                <div class="box8 layout"></div>
                <img src="/static/images/73f157b3c81b6e22954cd24551e943e4.png" alt="" class="image21 layout" /><img src="/static/images/070e462e8a00ce0e7a27670ed988eac6.png" alt="" class="icon1 layout" /><img src="/static/images/922c1331651561dd2549ced41436fa9c.png" alt="" class="image22 layout" /><img src="/static/images/ff7df839290511eca471d61330edb427.png" alt="" class="image23 layout" />
                <div class="box9 layout"></div>
                <img src="/static/images/60c7b4d7d6a4e94f210631dc9a277adf.png" alt="" class="image24 layout" />
                <div class="block5 layout">
                    <img src="/static/images/93054b34bc8ba2ac5dafbe2155ae0a21.png" alt="" class="image25 layout" /><img src="/static/images/82ffccbd532f3a19d25ceb9aedd7e3a7.png" alt="" class="icon2 layout" /><img src="/static/images/327e271fcadfecf6525692cf7ff2217b.png" alt="" class="image26 layout" /><img src="/static/images/5473fc8ed06e1775d3812e9248abb947.png" alt="" class="image27 layout" /><img src="/static/images/4beb32e80b89cebc77af3f36f4f3dc0e.png" alt="" class="image28 layout" /><img src="/static/images/e264f1b237d6a6503ba199d4c0f978b2.png" alt="" class="image29 layout" /><img src="/static/images/85201e21f14a9ef42244882d29f7fe80.png" alt="" class="image29 layout" /><img src="/static/images/b1f6d780b679a56657b795ed49bfb103.png" alt="" class="image30 layout" /><img src="/static/images/5896a167083a7374d3668bde2cc2a971.png" alt="" class="image31 layout" /><img src="/static/images/5d33cc112848e963259e20bfdef0776f.png" alt="" class="image32 layout" /><img src="/static/images/01b03f9270f4230f26768d8b89e1d9f3.png" alt="" class="image33 layout" /><img src="/static/images/c241ee92edf347f2b7163998b54ccf59.png" alt="" class="image34 layout" />
                </div>
                <div class="box10 layout"></div>
                <div class="box11 layout"></div>
                <img src="/static/images/d17fe65fe65296b7b0961be08ec55d6e.png" alt="" class="image35 layout" /><img src="/static/images/7ac899c51e06e4d166f4806530ebfd4b.png" alt="" class="image36 layout" />
            </div>
            <img src="/static/images/31b00862594340038f45ed4574829293.png" alt="" class="image24 layout1" /><img src="/static/images/a0aab1892e55180b9b42c505b53903a0.png" alt="" class="cover3 layout" /><img src="/static/images/e2e0919fc5cdfe3c1d6ce58c3bc1b91f.png" alt="" class="image37 layout" /><img src="/static/images/52c1d96b4cbbc445d9957f870f882821.png" alt="" class="image38 layout" /><img src="/static/images/1899e259cb0f4ab9fc6b27ab19833673.png" alt="" class="cover4 layout" /><img src="/static/images/045e4e71e2b40e9f3434df886b79aace.png" alt="" class="image39 layout" /><img src="/static/images/db10b578af6d642fd1290d8f458f0a75.png" alt="" class="image40 layout" /><img src="/static/images/4d1fc28e4607de60357a4677b1d48578.png" alt="" class="image41 layout" /><img src="/static/images/ca3efa6abeeb39855e4569b2d0ed904a.png" alt="" class="image42 layout" /><img src="/static/images/ebdeac6cb5c5e658f02a51d475177ee4.png" alt="" class="cover5 layout" /><img src="/static/images/be7cfe7891176b31dabd7cb2b3085a7f.png" alt="" class="image43 layout" /><img src="/static/images/bc230339536695f9171ec4c9ec0e6349.png" alt="" class="image43 layout" /><img src="/static/images/dd18ab3286d92f2e918c6924978edeac.png" alt="" class="cover6 layout" /><img src="/static/images/0696777dab68bcd4b7b5b5b5182bd37d.png" alt="" class="cover6 layout" /><img src="/static/images/531a5098eb7ffb8bac42c534dcf2c113.png" alt="" class="image44 layout" /><img src="/static/images/d81dd12b64091e759c9440b43b1e8eef.png" alt="" class="image45 layout" /><img src="/static/images/06dd410f3682e03031073dce58c1cd7e.png" alt="" class="cover7 layout" /><img src="/static/images/e83d77ccf1ab62a9559618eaa88458be.png" alt="" class="icon3 layout" /><img src="/static/images/cba26e278990912cfa848b73630b8eec.png" alt="" class="image46 layout" /><img src="/static/images/8e4d72fbced25deb7e122f4191e51413.png" alt="" class="line layout" /><img src="/static/images/6faf0090d66c8bd63c0ce084cf3e3fbb.png" alt="" class="image47 layout" />
            <div class="block6 layout">
                <img src="/static/images/d34e82d04abf7ebc5fe620967bc33290.png" alt="" class="image48 layout" /><img src="/static/images/87f9eb2dd9e69266623c39ad603a82fb.png" alt="" class="image49 layout" /><img src="/static/images/731fd0da63b6143a104ac103c89d0b67.png" alt="" class="image50 layout" /><img src="/static/images/f3f5ed9c57e4e7037e5d1457f01f4863.png" alt="" class="image51 layout" /><img src="/static/images/78ab72272f8cf96091f38bb4f1a8a0d1.png" alt="" class="image52 layout" /><img src="/static/images/c2a51597e884bdf92940ab8476bb6d65.png" alt="" class="icon4 layout" /><img src="/static/images/13f0b96bacbc041a47d727df167ae388.png" alt="" class="image53 layout" /><img src="/static/images/49f6d7b3a93febc9491cbb5e43ff3414.png" alt="" class="image54 layout" /><img src="/static/images/ee16939a543c140c92c8e8132dd43489.png" alt="" class="image55 layout" /><img src="/static/images/d6a8326767d38fd150738db01fd6949c.png" alt="" class="image56 layout" /><img src="/static/images/bf34e4a0ece1c13af430961431b1b665.png" alt="" class="image57 layout" /><img src="/static/images/2ff44496bbdb9f0ec8a8dec1091e6172.png" alt="" class="image58 layout" /><img src="/static/images/6679e3699019572f2cee583971bf6dc2.png" alt="" class="image59 layout" /><img src="/static/images/50c14f543106496c97f3ad1962ad2b06.png" alt="" class="image60 layout" /><img src="/static/images/3de2d095e93dbf44c22d591200cfd4c4.png" alt="" class="image61 layout" /><img src="/static/images/a5e45aa3b9110032a3b0bdc9575850b7.png" alt="" class="image62 layout" /><img src="/static/images/a553234f4beadb86f88a3a512d88b66d.png" alt="" class="image63 layout" /><img src="/static/images/d15a88f603aa3484e2fa1e8b056f59f4.png" alt="" class="image64 layout" /><img src="/static/images/88a3942d54171c59c8c2c452f7e03a2b.png" alt="" class="line1 layout" /><img src="/static/images/2daaeb8fa5a145cd72cc248a5178d7e5.png" alt="" class="image65 layout" /><img src="/static/images/27c57cc956424c0ebc3b0fa8847bf014.png" alt="" class="image66 layout" /><img src="/static/images/79b92b9d5262408e6088f68bd5a3be20.png" alt="" class="image67 layout" /><img src="/static/images/24e9da79bc16ec35a0c6374d9710dda9.png" alt="" class="image68 layout" /><img src="/static/images/ab2c0d5e6a8bf57d661ad66c0b62a966.png" alt="" class="image69 layout" /><img src="/static/images/a7dba4de285791f54ea23d79b06376fb.png" alt="" class="image70 layout" /><img src="/static/images/0b6625e7a909b85d7d7479347f4fd22b.png" alt="" class="image71 layout" /><img src="/static/images/941e81fc639f71f4376b73f86f0297ee.png" alt="" class="image72 layout" /><img src="/static/images/cfb363684335498689f9b1d0c32c4295.png" alt="" class="image73 layout" /><img src="/static/images/30546144d3129eb1e4df12dafb9410d2.png" alt="" class="image74 layout" /><img src="/static/images/4c522b979b6589fbb0bc5a1c5d01ed65.png" alt="" class="image75 layout" /><img src="/static/images/163cdadb4699ed1da7e2e58b9cde6ab9.png" alt="" class="image76 layout" /><img src="/static/images/9bbceba3d97d570f9e43f218f8129caa.png" alt="" class="image77 layout" /><img src="/static/images/be2de1ad31fa1019f24b2d2cb777712d.png" alt="" class="image78 layout" /><img src="/static/images/0cf88994b66568996331c5ec53d2d8a8.png" alt="" class="image79 layout" /><img src="/static/images/26efc280c474ffd97784843ef32263b9.png" alt="" class="image80 layout" />
            </div>
            <div class="block7 layout">
                <img src="/static/images/a12258f4c8069a1076505a512cba45c8.png" alt="" class="image81 layout" /><img src="/static/images/0b368a8c70e34ed832551ec93ffc1440.png" alt="" class="image82 layout" /><img src="/static/images/05c9bbe8baa8592f1b0fdc803433879e.png" alt="" class="image83 layout" /><img src="/static/images/7f46eb93f0bee96a846db10b14655fe0.png" alt="" class="image84 layout" /><img src="/static/images/c31f73a2bcf7994b24a8ac66873db61b.png" alt="" class="image85 layout" /><img src="/static/images/b1d3d62890b8853846746b1d1a169738.png" alt="" class="image86 layout" /><img src="/static/images/fd493df4b6a40808c00f50227f8c2d37.png" alt="" class="image83 layout" /><img src="/static/images/55ba3749bc769ee7edd96ca5043f9e78.png" alt="" class="image87 layout" /><img src="/static/images/11c8cd3157e8b4cbe0957aa57c2985e5.png" alt="" class="image88 layout" /><img src="/static/images/43c800d26a35f888da38925d63443337.png" alt="" class="image89 layout" /><img src="/static/images/2de3e4b87a3228af07bd60a74a5e78cc.png" alt="" class="icon5 layout" /><img src="/static/images/d7f1e0f3b5ba9d23857bf74b22975474.png" alt="" class="image90 layout" /><img src="/static/images/192354353c2a9136851c1a8c3d67c1a8.png" alt="" class="image91 layout" /><img src="/static/images/ee71c1bebf8587c42053e48642648f14.png" alt="" class="image92 layout" /><img src="/static/images/a3d0a783b5b09704eaf91b08a698ebad.png" alt="" class="image93 layout" /><img src="/static/images/1f98b3aa7b6810085027c76f45abbf0e.png" alt="" class="image94 layout" />
            </div>
            <img src="/static/images/b6c0d39a0813159e4751d272223e9ad4.png" alt="" class="image95 layout" />
        </div>
        <img src="/static/images/16d73c50ba688f20d79baa773aaac5e2.png" alt="" class="image96 layout" />
        <div class="flex1 layout7">
            <div class="flex-item17">
                <a href="/common-disorders" style="text-decoration: none;"><div class="cover-block2 layout">
                    <h3 class="subtitle21 layout">About</h3>
                </div></a>
            </div>
            <div class="spacer flex-spacer11"></div>
            <div class="flex-item18">
                <a href="/login" style="text-decoration: none;"><div class="cover-block3 layout">
                    <h3 class="subtitle21 layout">Log in</h3>
                </div></a>
            </div>
            <div class="spacer flex-spacer12"></div>
            <div class="flex-item19">
                <a href="/card" style="text-decoration: none;"><div class="cover-block4 layout">
                    <h3 class="subtitle22 layout">Get Started</h3>
                </div></a>
            </div>
        </div>
        <div class="block8 layout">
            <div class="flex1 layout10">
                <div class="flex-item20">
                    <div class="flex layout10">
                        <div class="flex layout19">
                            <img src="/static/images/40edf610c517c5d9983de5b4215ffc1c.png" alt="" class="image97 layout" />
                            <div class="flex layout18">
                                <h1 class="hero-title21 layout">HappyGo</h1>
                                <h3 class="subtitle12 layout">BML Munjal University<br />Gurugram, Haryana</h3>
                            </div>
                        </div>
                        <div class="flex layout20">
                            <h1 class="big-title4 layout">Join our newsletter</h1>
                            <div class="cover-block8 layout">
                                <div class="flex1 layout8">
                                    <h3 class="subtitle13 layout">Enter Email</h3>
                                    <div class="spacer flex-spacer13"></div>
                                    <div class="flex-item21">
                                        <div class="cover-block7 layout">
                                            <h3 class="subtitle1 layout4">SUBMIT</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer flex-spacer14"></div>
                <div class="flex-item22">
                    <div class="flex1 layout9">
                        <div class="flex-item23">
                            <div class="flex layout21">
                                <h1 class="big-title4 layout1">Services</h1>
                                <h3 class="subtitle12 layout1">
                                    Online therapy<br />Couples therapy<br />Psychiatry<br />Teen therapy<br />HappyGo business<br />HappyGo
                    app
                                </h3>
                            </div>
                        </div>
                        <div class="spacer flex-spacer15"></div>
                        <div class="flex-item24">
                            <div class="flex layout22">
                                <h1 class="big-title4 layout2">Useful links</h1>
                                <h3 class="subtitle12 layout1">
                                    Find a therapist<br />Anxiety test<br />Depression test<br />HappyGo Reviews<br />Alexa skill
                                </h3>
                            </div>
                        </div>
                        <div class="spacer flex-spacer16"></div>
                        <div class="flex-item23">
                            <div class="flex layout10">
                                <h1 class="big-title4 layout3">About</h1>
                                <h3 class="subtitle3-box layout">
                                    <div class="subtitle3">
                                        <span class="undefined-span0"
                        >Blog<br />Careers<br />Join our network<br />Research<br />Investors<br />Privacy policy<br />Terms of
                        use<br />Accessibilty<br />Customer Support<br /></span><span class="undefined-span1">Emergency resources</span>
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/static/images/0238a34e93d06c8749d143926e07cbe7.png" alt="" class="decorator3 layout" />
        </div>
    </div>
    <script type="text/javascript">
    function createLink() {
        let anchor = document.createEllement('a');
        anchor.href = "Homepage.html";
        document.body.appenndChild(anchor);
    }
    </script>
</body>
</html>