<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
  <link rel="stylesheet" href="/static/css/login.css">

</head>

<body>
  <!-- <img src="https://bityl.co/EQek" width="100px" height="100px"> -->
  <a href="/Homepage"><img src="/static/images/ce2c3fc9a73280c12443633c62a462aa.png" width="250px" height="80px" class="center"></a>

  <!-- partial:index.partial.html -->
  <div id="login-form-wrap">
    <h2>Login</h2>
    <form id="login-form"  >
      <p>
        <input type="text" id="username" name="id" placeholder="Username" required><i
          class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" id="password" name="pass" placeholder="Password" required><i
          class="validation"><span></span><span></span></i>
      </p>
      <p>
       <input type="submit" id="login" value="Logijjjjjjjjjjjn">
      </p>
    </form>
    <div id="create-account-wrap">
      <p>Not a member? <a href="/signup" style="text-decoration: none;">Create Account</a>
      <p>
    </div>
    <!--create-account-wrap-->
  </div>
  <!--login-form-wrap-->
  <!-- partial -->

</body>

</html>